body{
    background-color: #1e1e1e;
}

#first{
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  overflow: hidden;
}

#flogo{
    width: 300px;
    
}

#fround{
    transition: scale 1s;
    position: absolute;
    

    width: 500px;
    padding: 20px;
    
    z-index: 1;
    clip-path: polygon(
        30% 0%, 70% 0%, 
        100% 30%, 100% 70%, 
        70% 100%, 30% 100%, 
        0% 70%, 0% 30%
      );

      transition: scale 2s;
      scale: 150%;
      /*animation-name: spin;*/
      animation-duration: 0.27s;
      animation-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-iteration-count: infinite;
    

}

#firstbtn{

    justify-content: center;
    align-items: center;

    position: absolute;

    background-color: transparent;
    border: none;


    width: 400px;
    height: 400px;

    z-index: 10;
    cursor: pointer;
    
    clip-path: polygon(
        30% 0%, 70% 0%, 
        100% 30%, 100% 70%, 
        70% 100%, 30% 100%, 
        0% 70%, 0% 30%
      );
      
    position: relative;
    box-shadow: 200px 20px 200px 200px white;

}

#firstbtn:hover{
    transition: 200ms scale;
    scale: 120%;
}

#firstbtn:active{
}


@keyframes spin {
    0%{width: 500px; transform: rotate(45deg);}
    50%{width: 400px;  transform: rotate(90deg);}
    100%{width: 500px; transform: rotate(180deg);}
}
